.conversation-subheader.row
  .title(ng-if= "channel")
    span.ellipsis {{ channel.name }}
  a.close.button(contextual-sidebar, data-content-template="/chat/views/aside/sidebar.html")
    i.mdi.mdi-menu
