.conversation-subheader.row
  .title(ng-if= "chatLocalStateService.activeRoom")
    span.ellipsis {{ chatLocalStateService.activeRoom.name }}
  a.close.button(contextual-sidebar, data-content-template="/chat/views/aside/sidebar.html")
    i.mdi.mdi-menu
