.conversation-subheader.row
  .title(ng-if= "chatLocalStateService.activeRoom")
    span.ellipsis {{ getConversationName(chatLocalStateService.activeRoom) }}
  a.close.hidden-md.button(contextual-sidebar, data-content-template="/chat/views/aside/sidebar.html")
    i.mdi.mdi-menu
