sub-header
  .channel-add-form.flex-space-between.flex-vertical-centered
    .left
      button.btn.btn-link(ui-sref="chat.channels-views")
        i.mdi.mdi-close
    .right
      button.btn.btn-link(ng-click='vm.addGroup()')
        span #{__('Create')}
        i.mdi.mdi-check
.block-header.visible-md
  h2 #{__('Create a new direct conversation')}
.channel-add-form.configuration.card
  form(name='addGroupForm', ng-submit="vm.addGroup()")
    .form-group.fg-line
      .row
        users-autocomplete-input(original-users='vm.members', mutable-users='vm.members')
    .button-bar.actions.hidden-xs.flex-end
      input.btn.btn-default(type="button", value="#{__('Cancel')}", ui-sref="chat.channels-views")
      input.btn.btn-primary(type="submit", value="#{__('Create')}", ng-disabled="addGroupForm.$invalid")
