.chat-drag-over
  .dnd-overlay
    .dnd-overlay-text
      i.mdi.mdi-cloud-upload
      | #{__('Drop files here to upload')}
  .dnd-overlay-not-member
    .dnd-overlay-text
      i.mdi.mdi-cloud-upload
      | #{__('Join conversation to upload files')}
