@import '../../../../frontend/components/material-admin/less/inc/chat';
@import '../../../../frontend/components/material-admin/less/inc/messages';

.chat-message {

  .lv-avatar > img {
    border-radius: 2px;
  }

  .chat-message-title {
    .displayname {
      font-weight: 600;
    }

    .date {
      color: #B3B3B3;
      padding-left: 10px;
      display: inline;
    }
  }

  .chat-message-text {

  }
}