.row.group-item(ui-sref='{{channelState}}({id: item._id})', ng-class="{'chat-unread-conversation': item.unreadMessageCount > 0}")
  .col-xs-2.group-badge
    a(href='#', title='{{otherUsers[0].name}} <{{otherUsers[0].address}}>')
      img(src='images/user.png', ng-src="/api/users/{{::otherUsers[0]._id}}/profile/avatar")
  .col-xs-8.group-body
    .row
      .col-xs-12.group-name.ellipsis
        span {{::item.name}}
    .row
      .col-xs-12.group-text.ellipsis
        span(ng-if="item.members.length <= 2")
          {{item.last_message.text}}
        span(ng-if="item.members.length > 2")
          span(ng-if="lastMessageIsMe")
            | #{__('You')} : 
          span(ng-if="!lastMessageIsMe")
            {{lastMessageDisplayName}} : 
          {{item.last_message.text}}

  .col-xs-2.group-date
    span(ng-if="numberOfDays === 0") {{item.last_message.date | amDateFormat:"HH:mm"}}
    span(ng-if="numberOfDays === 1") #{__('Yesterday')} {{item.last_message.date | amDateFormat:"HH:mm"}}
    span(ng-if="numberOfDays > 1") {{item.last_message.date | amDateFormat:"DD MMM YYYY HH:mm"}}
