.row.group-item(ng-class="{'chat-unread-conversation': item.unreadMessageCount > 0}")
  .col-xs-2.group-badge
    a(ui-sref='cerise.base.profile({id: otherUsers[0]._id})', title='{{otherUsers[0].name}} <{{otherUsers[0].address}}>')
      img(src='images/user.png', ng-src="/api/users/{{::otherUsers[0]._id}}/profile/avatar")
  .col-xs-8.group-body(ui-sref='{{channelState}}({id: item._id})')
    .row
      .col-xs-12.group-name.ellipsis
        span {{getConversationName(item)}}
    .row
      .col-xs-12.group-text.ellipsis
        span(ng-if="lastMessageIsMe")
          | #{__('You')} :
        span(ng-if="!lastMessageIsMe")
          {{lastMessageDisplayName}} :
        span(ng-bind-html="item.last_message.text")

  .col-xs-2.group-date
    span(ng-if="numberOfDays === 0") {{item.last_message.date | amDateFormat:"HH:mm"}}
    span(ng-if="numberOfDays === 1") #{__('Yesterday')} {{item.last_message.date | amDateFormat:"HH:mm"}}
    span(ng-if="numberOfDays > 1") {{item.last_message.date | amDateFormat:"DD/MM/YY"}}
