button.btn.btn-link(chat-launch-conversation, ng-class="{ disabled: ctrl.isNotUser()}", ng-disabled="{{ ctrl.isNotUser() }}", user-id="{{ ctrl.userId }}")
  i.mdi.mdi-message-text-outline
  span #{__('Chat')}
