li.action-list-item.hidden-xs(ng-click='ctrl.toggleDisplay()')
  | #{__('Show informations')}
li.action-list-item.hidden-md(title=__('Show informations'), contextual-sidebar, data-content-template="/chat/app/conversation/sidebar/summary/conversation-summary-mobile-provider.html", data-placement="right")
  | #{__('Show informations')}
