li.action-list-item.hidden-xs(ng-click='ctrl.toggleDisplay()')
  | #{__('Show informations')}
li.action-list-item.hidden-md(title="{__('Show informations')}", contextual-sidebar, data-content-template="/chat/app/conversation/sidebar/information/conversation-information.html", data-placement="right", data-controller="chatConversationSidebarInformationController", data-controller-as="ctrl")
  | #{__('Show informations')}
