.lv-footer.ms-reply
  button.send-button-left(type='file', chat-file-upload, ng-file-select='ctrl.onFileSelect($files)', data-multiple='true')
    i.mdi.mdi-plus
  textarea(esn-textarea-autosize, textarea-max-rows="3", rows="1", ng-model='text', ng-change='onTextChanged()', auto-focus)
  .send-button-left
    .dropdown.dropup(ng-init="clicked=false")
      a(href='', data-toggle='dropdown', aria-expanded='false', ng-click="clicked=true")
        i.mdi.mdi-emoticon
      ul.dropdown-menu.dropdown-menu-right.clickable(ng-if="clicked")
        esn-emoticon-popup(on-emoji-selected='onEmojiSelected')
  button.send-button(ng-click='sendMessage()')
    i.mdi.mdi-send
  chat-emoticon-chooser
  chat-mention-chooser
