.col-xs-12.no-padding-xs.subheader-aware.ui-view(name="full", noanimation="noanimation")
  .chat-main
    .chat-aside.hidden-xs.hidden-sm
      chat-aside
    .col-xs-12.col-md-10.no-padding-xs.ui-view(name="main", noanimation='noanimation')
