.col-xs-12.no-padding-xs.subheader-aware.ui-view(name="full", noanimation="noanimation")
  .chat-main
    .col-md-3.col-xl-2.hidden-xs.chat-aside
      chat-aside
    .col-md-9.col-xl-10.col-xs-12.no-padding-xs.ui-view(name="main", noanimation='noanimation')
