.conversation-list
  .no-messages(ng-if="!vm.hasWantedConversation()") #{__('You do not have any messages yet.')}
  chat-conversation-overview(channel-state='vm.channelState', ng-repeat="item in vm.groups|filter:wanted" item="item", ng-click='vm.goToChannel($event, item._id)')
