.card.m-b-0
  .ms-body
    .listview.lv-message
      .lv-header.message-header
        .lvh-label
          a(href='') {{(conversation.members || []).length}} #{__('members')}
          span(ng-show="displayTopic")
            span.divider |
            span(ng-if="!conversation.topic.value" editable-text="conversation.topic.value" buttons="no" onbeforesave='updateTopic($data)')
              a(href="#" )
                | Add a topic
                i.mdi.mdi-plus
            span(ng-if="conversation.topic.value" ng-bind-html="conversation.topic.value | linky:'_blank' | esnEmoticonify:{class: 'label-emoji'}" editable-text="conversation.topic.value" buttons="no" onbeforesave='updateTopic($data)')
              a(href="#")
                | Edit
                i.mdi.mdi-pencil
      .lv-body(scroll-glue="glued", z-infinite-scroll="loadPreviousMessages()", inverse="true")
        .throbber(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.3', spinner-key='{{::spinnerKey}}')
        chat-conversation-header(ng-if="topOfConversation" conversation="conversation")
        div(ng-repeat="message in messages track by message._uniqId", in-view="$last && setLastLineInView($inview)")
          chat-message-separator(prev-message="$first ? null : messages[$index - 1]", current-message="message")
          chat-message(message="message")
