.chat-messages-view.card
  .ms-body.chat-messages-container
    chat-file-upload-drag-over
    .chat-messages-main.listview.lv-message
      chat-conversation-topbar(conversation="ctrl.conversation")
      .lv-body(scroll-glue="glued", z-infinite-scroll="ctrl.loadPreviousMessages()", inverse="true")
        .throbber(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.3', spinner-key='{{::ctrl.spinnerKey}}')
        chat-conversation-header(ng-if="ctrl.topOfConversation" conversation="ctrl.conversation")
        div(ng-repeat="message in ctrl.messages track by message._uniqId", in-view="$last && ctrl.setLastLineInView($inview)")
          chat-message-separator(prev-message="$first ? null : ctrl.messages[$index - 1]", current-message="message")
          chat-message(message="message")
      chat-message-indicator(inview = "ctrl.inview")
      chat-footer(conversation='ctrl.conversation')
    .chat-messages-sidebar(ui-view="sidebar", ng-class="{ 'not-member': ctrl.isMember === false }")
