.modal.full-screen(tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", ng-click="$hide()") &times;
        h4.modal-title #{__('Confirm archive')}
      .modal-body
      .modal-footer
        button.btn.btn-default(type="button", ng-click="$hide()") #{__('Cancel')}
        button.btn.btn-primary(type='button', ng-click='$ctrl.archive(); $hide()') #{__('Archive')}
