li.action-list-item(esn-modal-launcher='chat/app/conversation/subheader/dropdown-actions/archive/archive-modal.html',
            controller-as='$ctrl',
            controller='ChatArchiveModalController') 
  | #{__('Archive conversation')}
