.chat-conversation-remove-cross
  i.close.hidden-xs.mdi.mdi-close.clickable(ng-if='ctrl.hover && !ctrl.conversation.unreadMessageCount', ng-click='ctrl.unsubscribe()')
  i.close.hidden-md.mdi.mdi-close.clickable(ng-if='!ctrl.conversation.unreadMessageCount', ng-click='ctrl.unsubscribe()')
