extends /modules/subheader/responsive-subheader

block left
  .conversation-subheader
    a.close.hidden-md.button(contextual-sidebar, data-content-template="/chat/app/aside/aside.html")
      i.mdi.mdi-menu
    .title(ng-if= "ctrl.chatLocalStateService.activeRoom")
      span.ellipsis {{ ctrl.getConversationName(ctrl.chatLocalStateService.activeRoom) }}
