extends /modules/subheader/responsive-subheader.pug

block left
  .conversation-subheader
    a.close.hidden-md.button(contextual-sidebar, data-content-template="/chat/app/aside/aside.html")
      i.mdi.mdi-menu
    .title
      span.ellipsis
        span(ng-bind-html="ctrl.name| esnEmoticonify:{class: 'label-emoji'}" ) 

block right
  .dropdown
    a(href='', data-toggle='dropdown', aria-expanded='true')
      i.mdi.mdi-dots-vertical

    ul.dropdown-menu.dropdown-menu-right.clickable
      li.action-list-container
        chat-show-information-dropdown-action
        chat-add-members-dropdown-action(ng-if='ctrl.canInjectAddMembersAction')
        chat-leave-conversation-dropdown-action(ng-if='ctrl.canInjectLeaveAction')
        chat-archive-conversation-dropdown-action(ng-if='ctrl.canInjectArchiveAction')
