span.attachments.clickable.hidden-xs(ng-click="ctrl.toggleDisplay()", title="#{__('Show starred messages')}")
  i.mdi.mdi-star
span.attachments.clickable.hidden-md(contextual-sidebar, data-content-template="/chat/app/conversation/sidebar/stars/conversation-sidebar-stars-view.html", data-placement="right")
  i.mdi.mdi-star
