.emoji-chooser(ng-if="ctlr.entitySelector.visible")
  header Emoji matching "#[strong {{ctlr.entitySelector.entityStart}}]"
  section
    a.emoticon-info(ng-repeat="emoji in ctlr.entitySelector.entityList",
      ng-click='ctlr.entitySelector.select(emoji)',
      ng-mouseover='ctlr.focusIndex = $index',
      ng-class='{selected: ctlr.entitySelector.focusIndex === $index}')
      esn-emoticon(emoticon="{{emoji}}")
      span.emoji-text
        span :
        span(ng-bind="emoji")
        span :

