.day-divider(ng-if="!prevMessage || !sameDay(currentMessage.date, prevMessage.date)")
  .day-divider-line
    .day-divider-label(ng-switch="diffDate(currentMessage.date)")
      span(ng-switch-when="0")
        | #{__('Today')}
      span(ng-switch-when="1")
        | #{__('Yesterday')}
      span(ng-switch-default)
        | {{formatDate(currentMessage.date)}}
