.lv-item.media.chat-bot-message(ng-if="!ctrl.hasBotError", desktop-hover="isHover = hover", ng-class='{"highlight": isHover}')
  a.lv-avatar.pull-left
    img(ng-src='{{::ctrl.botUser.avatarUrl}}', alt='')
  .media-body(ng-switch="ctrl.botUser.subtype")
    .chat-bot-message-title
      span.displayname {{::ctrl.botUser.displayName}}
      small.date {{::ctrl.message.timestamps.creation | amDateFormat:'h:mm A'}}
    chat-bot-message-not-member-mention(ng-switch-when="notmember-mention", parsed="ctrl.parsed", conversation-id="ctrl.message.channel", user-mentions="ctrl.message.user_mentions")
    chat-bot-text-message(ng-switch-default, parsed="ctrl.parsed")
