sub-header
  chat-conversation-list-subheader

.chat-conversation-list
  .card
    .conversations-search-form.fg-line
      .conversations-search-input.form-control
        form(ng-submit='ctrl.onChange()')
          input(type="text", ng-model="ctrl.conversationSearchInput", ng-change='ctrl.onChange()', ng-model-options="{updateOn: 'default blur', debounce: {'default': 600, 'blur': 0}}")
  infinite-list(load-more-elements='ctrl.loadMoreElements()')
    chat-conversation-list-item(conversation="conversation" ng-repeat="conversation in ctrl.elements" ng-if="ctrl.elements.length > 0")
    .list-empty(ng-if="!ctrl.elements.length && ctrl.infiniteScrollCompleted")
      .conversations-empty-message
        .empty-icon.mdi.mdi-magnify
        .message #{__("There are no conversations matching your search")}
    ul.nav.nav-pills.nav-stacked(ng-if='ctrl.infiniteScrollDisabled')
      li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')
  chat-fab-create-conversation
