#messages-main(chat-file-upload, drag-over-class="show-overlay", ng-file-drop="ctrl.onFileSelect($files)", ng-multiple="true")
  .file-overlay
    .overlay-text
      i.mdi.mdi-cloud-upload
      | #{__('Drop files here to upload')}
  chat-messages-view(conversation='vm.chatConversationsStoreService.activeRoom', messages='vm.messages', header='true', load-previous-messages='vm.loadPreviousMessages', spinner-key='vm.spinnerKey', set-last-line-in-view='vm.setLastLineInView', top-of-conversation='vm.topOfConversation', inview='vm.inview')
  chat-footer(conversation='vm.chatConversationsStoreService.activeRoom')
