#messages-main
  chat-messages-view(conversation='vm.chatLocalStateService.activeRoom', messages='vm.messages', header='true', load-previous-messages='vm.loadPreviousMessages', spinner-key='vm.spinnerKey', top-of-conversation='vm.topOfConversation')
  chat-footer(conversation='vm.chatLocalStateService.activeRoom')
