.chat-message-star.clickable(desktop-hover='isHover = hover')
  i.mdi.mdi-star-off.waves-notransition(ng-show='ctrl.starred && isHover', title=__('Unstar'))
  i.mdi.mdi-star.waves-notransition(ng-show='ctrl.starred && !isHover')
  i.mdi.mdi-star-outline.waves-notransition.star-hide(ng-show='!ctrl.starred && !isHover')
  i.mdi.mdi-star.waves-notransition(ng-show='!ctrl.starred && isHover', title=__('Star'))
