.chat-message-typing
  span(ng-if="ctrl.usersTyping.length === 1") {{ctrl.usersTyping[0]}} #{__('is typing')}
  span(ng-if="ctrl.usersTyping.length === 2") {{ctrl.usersTyping[0]}} #{__('and')} {{ctrl.usersTyping[1]}} #{__('are typing')}
  span(ng-if="ctrl.usersTyping.length > 2") #{__('several users are typing')}
