.conversation-summary
  .summary-spinner

  .summary-content
    chat-summary-header(is-public-conversation="ctrl.isPublicConversation", name="ctrl.summary.name")
    chat-summary-details(conversation="ctrl.conversation", topic="ctrl.summary.topic", purpose="ctrl.summary.purpose", creator="ctrl.summary.creator", creation-date="ctrl.summary.creationDate")
    chat-summary-members(conversation="ctrl.conversation", members="ctrl.summary.members", members-count="ctrl.summary.membersCount")
    chat-summary-attachments(conversation="ctrl.conversation", attachments="ctrl.summary.attachments")
