#messages-main
  .block-header.visible-md
    h2 \#{{::chatLocalStateService.activeRoom.name}}
    ul.actions
      li
        a(href='')
          i.mdi.mdi-account-multiple-plus
      li
        a(href='')
          i.mdi.mdi-message-outline
      li
        a(href='')
          i.mdi.mdi-dots-vertical
  .card
    .ms-body
      .listview.lv-message
        .lv-header.message-header
          .lvh-label
            a(href='') {{(chatLocalStateService.activeRoom.members || []).length}} #{__('members')}
            span.divider |
            span(ng-if="!chatLocalStateService.activeRoom.topic.value")
              a(href='')
                | Add a topic
                i.mdi.mdi-plus
            span(ng-if="chatLocalStateService.activeRoom.topic.value")
              | {{::chatLocalStateService.activeRoom.topic.value}}
              a(href='')
                | Edit
                i.mdi.mdi-pencil
          ul.lv-actions.actions
            li
              a(href='')
                i.mdi.mdi-information-outline
        .lv-body(ng-file-drop="onFileSelect($files)", ng-multiple="true")
          chat-message(ng-repeat="message in messages | filter:{ channel: chatLocalStateService.activeRoom._id } | orderBy: ['timestamps.creation'] track by $index", message="message")
        chat-footer
