.conversation-attachments-item
  .meta.ellipsis
    user-profile-link(user="ctrl.attachment.creator")
  span.date {{::ctrl.attachment.date | esnDatetime:'fullDate'}}
  esn-attachment(attachment="ctrl.attachment")
