.conversation-beginning-informations
  .summary-header
    .summary-title.ellipsis  #{__('About')}
      i.mdi.mdi-lock(ng-if="!ctrl.isPublicConversation")
      i.mdi.mdi-earth(ng-if="ctrl.isPublicConversation")
      span(ng-bind-html="ctrl.name| esnEmoticonify:{class: 'label-emoji'}" )
    .close-button.hidden-xs
      i.mdi.mdi-close.clickable(ui-sref="chat.channels-views")
