.lv-item.media.chat-system-message(desktop-hover="isHover = hover", ng-class='{"highlight": isHover}')
  a.lv-avatar.pull-left
    img(ng-src='{{::ctrl.systemUser.avatarUrl}}', alt='')

  .media-body
    .block-left
      .chat-system-message-title
        span.displayname {{::ctrl.systemUser.displayName}}
        small.date {{::ctrl.message.timestamps.creation | amDateFormat:'h:mm A'}}
      .chat-system-message-text(ng-if='ctrl.message.type === "text"', ng-bind-html="ctrl.parsed.text")
