.esn-aside.esn-aside-desktop-menu
  ul.nav.nav-pills.nav-stacked
    .listview.p-t-5
      .lv-body
        .lv-item.clickable.menu-heading
          .title(ui-sref='chat.channels-views')
            i.menu-icon.mdi.mdi-facebook-messenger
            .text #{__('Channels')}
          .add-folder(ng-click='ctrl.toggleNotification()')
            i.menu-icon.mdi(ng-class="ctrl.isNotificationEnabled() ? 'mdi-bell-outline': 'mdi-bell-off'")
          .add-folder(ui-sref='chat.channels-add')
            i.menu-icon.mdi.mdi-plus

        chat-conversation-item(ng-repeat="conversation in ctrl.chatLocalStateService.channels" conversation="conversation", ng-click='$hide()')

        .lv-item.clickable.menu-heading
          .title(ui-sref='chat.channels-views')
            i.menu-icon.mdi.mdi-facebook-messenger
            .text #{__('Direct Message')}
          .add-folder(ui-sref='chat.groups-add')
            i.menu-icon.mdi.mdi-plus

        chat-conversation-item(ng-repeat="conversation in ctrl.chatLocalStateService.privateConversations" conversation="conversation", ng-click='$hide()')
