.esn-aside.esn-aside-desktop-menu
  ul.nav.nav-pills.nav-stacked
    .listview.p-t-5
      .lv-body
        .lv-item.clickable.menu-heading
          .title(ui-sref='chat.channels-list')
            .text #{__('Channels')}
          .chat-aside-action(ng-click='ctrl.toggleNotification()')
            i.menu-icon.mdi(ng-class="ctrl.isNotificationEnabled() ? 'mdi-bell-outline': 'mdi-bell-off'")
          .chat-aside-action(ui-sref='chat.channels-add')
            i.menu-icon.mdi.mdi-plus-circle-outline

        chat-conversation-item(ng-repeat="conversation in ctrl.chatConversationsStoreService.channels" conversation="conversation", ng-click='$hide()')

        .lv-item.clickable.more-item(ui-sref="chat.channels-list", ui-sref-active="selected")
          span #{__('More')}&hellip;

        .lv-item.clickable.menu-heading
          .title(ui-sref='chat.groups-add')
            .text #{__('Direct Messages')}
          .chat-aside-action(ui-sref='chat.groups-add')
            i.menu-icon.mdi.mdi-plus-circle-outline

        chat-conversation-item(ng-repeat="conversation in ctrl.chatConversationsStoreService.privateConversations" conversation="conversation", ng-click='$hide()')
