.esn-aside.esn-aside-desktop-menu(data-ng-class="{ 'toggled': mactrl.lvMenuStat }")
  ul.nav.nav-pills.nav-stacked
    .listview.p-t-5
      .lv-body
        .lv-item.clickable.menu-heading
          .title(ui-sref='chat.channels-views')
            i.menu-icon.mdi.mdi-facebook-messenger
            .text #{__('Channels')}
          .add-folder(ng-click='toggleNotification()')
            i.menu-icon.mdi(ng-class="root.isEnabled() ? 'mdi-bell-outline': 'mdi-bell-off'")
          .add-folder(ui-sref='chat.channels-add')
            i.menu-icon.mdi.mdi-plus

        chat-channel-item(ng-repeat="item in root.chatLocalStateService.channels" item="item", ng-click='$hide()')

        .lv-item.clickable.menu-heading
          .title(ui-sref='chat.channels-views')
            i.menu-icon.mdi.mdi-facebook-messenger
            .text #{__('Direct Message')}
          .add-folder(ui-sref='chat.groups-add')
            i.menu-icon.mdi.mdi-plus

        chat-channel-item(ng-repeat="item in root.chatLocalStateService.privateConversations" item="item", ng-click='$hide()')
