.lv-item.clickable(title="{{::getConversationName(item)}", ui-sref='{{channelState}}({id: item._id})', ui-sref-active="selected", ng-class="{notread: item.unreadMessageCount > 0}")
  .row
    .col-xs-2.badge-container
      i.item-icon.mdi(ng-class="{'mdi-pound': item.type === CHAT_CONVERSATION_TYPE.CHANNEL, 'mdi-checkbox-blank-circle': item.type !== CHAT_CONVERSATION_TYPE.CHANNEL, 'connected': allUsersConnected}")
    .col-xs-8.item-name
      span.item-name-inner.ellipsis
        bdi {{::getConversationName(item)}}
    .col-xs-2
      span(ng-if="item.mentionCount > 0")
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-inverse.fa-stack-1x
          {{item.mentionCount}}
      span.item-name-after
