.chat-conversation-topbar
  .conversation-metadata
    a {{size = (ctrl.conversation.members || []).length; size}}
      span.members(ng-if='size === 1') #{__('member')}
      span.members(ng-if='size !== 1') #{__('members')}
    span.divider |
    span.editable(ng-if="!ctrl.conversation.topic.value" editable-text="ctrl.conversation.topic.value" buttons="no" onbeforesave='ctrl.updateTopic($data)')
      | #{__('Set a topic')}
    span.editable(ng-if="ctrl.conversation.topic.value" ng-bind-html="ctrl.conversation.topic.value | linky:'_blank' | esnEmoticonify:{class: 'label-emoji'}" editable-text="ctrl.conversation.topic.value" buttons="no" onbeforesave='ctrl.updateTopic($data)')
  .conversation-actions
    chat-conversation-topbar-actions-attachments(conversation="ctrl.conversation")
