.chat-conversation-topbar
  .conversation-metadata
    chat-conversation-topic-edition(ng-if="ctrl.userIsMember" conversation="ctrl.conversation")
    span(ng-if="!ctrl.userIsMember && ctrl.conversation.topic.value" ng-bind-html="ctrl.conversation.topic.value | linky:'_blank' | esnEmoticonify:{class: 'label-emoji'}")
  .conversation-actions
    chat-conversation-topbar-actions-members(conversation="ctrl.conversation")
    chat-conversation-topbar-actions-attachments(conversation="ctrl.conversation")
    chat-conversation-topbar-actions-stars(conversation="ctrl.conversation")
