.lv-item.clickable(title="{{::item.channel_name}}", ui-sref-active="selected")
  .badge-container
    i.item-icon.mdi(ng-class="item.channel.type === 'channel' ? 'mdi-pound' : 'mdi-checkbox-blank-circle'")
  .item-name
    span.item-name-inner
      bdi {{::item.channel_name}}
    span.item-name-after
