.lv-footer.ms-reply
  button.send-button-left(type='file', ng-file-select='onFileSelect($files)', data-multiple='true')
    i.mdi.mdi-plus
  textarea(auto-size, ng-model='text', ng-change='onTextChanged()')
  button.send-button(ng-click='sendMessage()')
    i.mdi.mdi-send