.conversation-subheader.row
  .title(ng-if= "channel")
    i.item-icon.mdi(ng-class="channel.type === 'channel' ? 'mdi-pound' : 'mdi-checkbox-blank-circle'")
    span.ellipsis {{ ::channel.name }}
  a.close.button(contextual-sidebar, data-content-template="/chat/views/partials/conversation-sidebar.html")
    i.mdi.mdi-menu