sub-header
  chat-members-add-subheader

.chat-member-add
  esn-collaboration-members-add(object-type="ctrl.objectType", collaboration="ctrl.conversation", conversation="ctrl.conversation", options="ctrl.options")