.chat-bot-message-text.chat-bot-notmember-mention
  | #{__('You have mentioned')}
  span(ng-bind-html="ctrl.parsed.text")
  |, #{__('do you want to')}
  a.add-member.clickable(ng-click="ctrl.addMembers();")
    span(ng-if="ctrl.userMentions.length > 1")
      | #{__('add them to the conversation ?')}
    span(ng-if="ctrl.userMentions.length === 1")
      | #{__('add him/her to the conversation ?')}
