.chat-message(desktop-hover="isHover = hover", ng-class='{"highlight": isHover}', ng-click="ctrl.selectMessage()")

  .chat-message-left
    esn-avatar(ng-if='!ctrl.message.sameUser', user-id="ctrl.message.creator._id")

    .message-time(ng-if='ctrl.message.sameUser', ng-class='{"show": isHover && ctrl.message.sameUser}')
      small.date {{::ctrl.message.timestamps.creation | esnDatetime:'time'}}
    chat-message-star(starred = 'ctrl.message.isStarred', ng-if='ctrl.message.sameUser', ng-class='{"visible": ctrl.messageSelected}', ng-click="ctrl.toggleStar()")

  .media-body
    .chat-message-title(ng-if='!ctrl.message.sameUser')
      a.displayname.hidden-xs(ui-sref="chat.channels-views.member({memberId: ctrl.message.creator._id})") {{::ctrl.displayName }}
      user-profile-link.displayname.visible-xs(user="ctrl.message.creator")
      small.date {{::ctrl.message.timestamps.creation | esnDatetime:'time'}}
      chat-message-star(starred = 'ctrl.message.isStarred', ng-class='{"visible": ctrl.messageSelected}', ng-click="ctrl.toggleStar()")
    .chat-message-text(ng-if='ctrl.message.type === "text"', ng-bind-html="ctrl.parsed.text", ng-class='(ctrl.user._id === ctrl.message.creator._id ? "owner-message-display" : "not-owner-message-display")')
    .oembeds.attachment-container
      oembeds(message="ctrl.message.text")
    .attachment-container(ng-if="ctrl.message.attachments.length > 0")
      .chat-message-attachment-text(ng-repeat="attachment in ctrl.message.attachments track by $index")
        span.clickable(ng-click='ctrl.toggleFile()')
          | #{__('Uploaded an Image')} :
        a(ng-href="/api/files/{{attachment._id}}", target="_blank") {{attachment.name}}
        span.clickable(ng-click='ctrl.toggleFile()')
          i(ng-class="ctrl.displayFile ? 'mdi mdi-chevron-down' : 'mdi mdi-chevron-right'")
        .attachment
          file-preview(file="attachment", ng-show="ctrl.displayFile")
