.chat-messages-search
  .message-avatar.pull-left.clickable(ui-sref='profile({user_id: item.creator._id})')
    img(src='/images/user.png', ng-src='/api/users/{{::item.creator._id}}/profile/avatar', alt='#{__("Member Avatar")}')
    i.mdi.mdi-facebook-messenger

  .message-title
    .data
      h4.clickable(ui-sref='profile({user_id: item.creator._id})') {{::item.creator.firstname}} {{::item.creator.lastname}}
      .channel.clickable(ui-sref='chat.channels-views({id: item.channel._id})') {{::item.channel.name}}
    .date {{::item.timestamps.creation | date: "MM/dd/yyyy h:mma"}}

  a.message-content.clickable(ui-sref='chat.channels-views({id: item.channel._id})')
    span(ng-bind-html="::item.text | esnHighlight: query")
