.conversation-footer
  chat-join-conversation(ng-if="!ctrl.isMember", conversation="ctrl.conversation", on-join="ctrl.onJoin()")
  chat-message-compose(ng-if="ctrl.isMember", channel-id="")
  chat-user-typing
