.conversation-members
  .members.clickable(ng-click='ctrl.toggleDisplayMembers()')
    .members-information
      i.mdi.mdi-account-outline
      span {{ctrl.membersCount}}
      span #{__('Members')}
    .chevron
      i(ng-class="ctrl.displayMembers ? 'mdi mdi-chevron-down' : 'mdi mdi-chevron-right'")
  .members-list(ng-if="ctrl.displayMembers", ng-repeat="member in ctrl.members")
    member-display(member="member")
  .show-more.clickable.hidden-xs(ng-if="ctrl.displayMembers", ui-sref="chat.channels-views.members({conversation: self.conversation})") #{__('Show more')}...
  .show-more.clickable.hidden-md(ng-if="ctrl.displayMembers", title=__('Show members'), contextual-sidebar, data-content-template="/chat/app/conversation/sidebar/members/conversation-sidebar-members-list.html", data-placement="right", data-controller="ChatConversationSidebarMembersListController", data-controller-as="ctrl") #{__('Show more')}...
