span.attachments.clickable.hidden-xs(ng-click="ctrl.toggleDisplay()", title="#{__('Show attachments')}")
  i.mdi.mdi-file-outline
span.attachments.clickable.hidden-md(title="#{__('Show attachments')}", contextual-sidebar, data-content-template="/chat/app/conversation/sidebar/attachments/conversation-sidebar-attachments-list.html", data-placement="right", data-controller="ChatConversationSidebarAttachmentsListController", data-controller-as="ctrl")
  i.mdi.mdi-file-outline
